{:deps {cljsjs/react {:mvn/version "16.13.1-0"}
        funcool/promesa {:mvn/version "5.1.0"}
        cljs-bean {:mvn/version "1.5.0"}}
 :paths ["src"]
 :aliases {;; https://juxt.pro/blog/pack-maven
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "0e8731e0f24db05b74769e219051b0e92b50624a"}}
                  :main-opts ["-m"]}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "mook.jar"]}}}
